MCH/Outputs

*.LOG

*.PrjPcbStructure

.allspice/
HW/Plant/History/

HW/Plant/__Previews/

HW/Plant/Project Outputs for Plant/

HW/Planter/__Previews/

HW/Planter/History/

HW/Planter/Project Outputs for Planter/
